.outer-container-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}
.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.text{

    font-size: 15px;
    font-weight: 400;
    color: #33354880;
}

.heading-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    background: linear-gradient(270.04deg, #FBFCFB 0.05%, #F4F7EC 99.98%);
    border-radius: 15px 18px 0px 0px;
    padding: 20px;
   
}

.heading-about > p{
    font-size: 20px;
    font-weight: 500;
}

.follow-button{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid #3A643B;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
}

.language-spoken{
    display: flex;
    flex-direction: row;
    gap: 10px; 
    width: 95%;
   

}

.button-container-language{
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}

.language-spoken >p{
    font-size: 17px;
    font-weight: 500;

}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 16px;
    background-color: #2E37A40A;
    width: 70px;
    
}

.social-media-buttons{
    display: flex;
    flex-direction: row;
    gap: 14px;
    width: 95%;
}


