@font-face {
    font-family: 'Cobbler Sans';
    src: local('Cobbler Sans Medium'), local('Cobbler-Sans-Medium'),
        url('CobblerSans-Medium.woff2') format('woff2'),
        url('CobblerSans-Medium.woff') format('woff'),
        url('CobblerSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  *{
    font-family: 'Cobbler Sans', sans-serif;
    margin: 0;
    
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    scroll-behavior: smooth;
  }
  
  